body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

#container {
    max-width: 600px;
    margin: 0 auto;
}

.square {
    /* background-color: purple; */
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
}


h1{
    color: white;
    text-align: center;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
}

#info-bar {
    background-color: white;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    background-color: blue;
}